.map {
    height: 550px;
    width: 100%;
}

input:read-only, select:disabled
{
	background-color: lightgray
}

#shapeListPanel
{
	margin : 20px 20px 20px 20px;
}

#shapeList
{
	height : 160px;
	width : 300px;
}

#CRUDButtonList
{
	display : inline;
	margin : 20px 0px 0px 20px;
}

#importExport
{
	float : right;
	margin : 0px 42% 0px 0px;
}

#confirmData
{
	display : inline;
	margin : 50px 0px 0px 20px;
}

.buttonClass
{
	margin : 0px 20px 0px 0px
}

.shapeEditorComponents
{
	display : inline;
	margin : 20px 0px 0px 20px;
}

.comboBox
{
	width : 100px;
}