html, body
{
    height: 100%;
}

.map {
    height: 60%;
    width: 100%;
	margin-top : 10px;
}

input:read-only, select:disabled
{
	background-color: lightgray;
}

h1
{
	text-align : center;
}

#shapeListPanel
{
	margin : 10px 10px 10px 10px;
}

#shapeList
{
	height : 120px;
	width : 425px;
}

#CRUDButtonList
{
	display : inline;
	margin : 10px 0px 0px 10px;
}

#importExport
{
	float : right;
	margin : 0px 42% 0px 0px;
}

#confirmData
{
	display : inline;
	margin : 50px 0px 0px 10px;
}

#layerComponents
{
	margin : 0px 0px 10px 10px;
}

#layerList
{
	width : 100px;
	margin : 0px 10px 0px 0px;
}

#layerControls
{
	margin : 0px 0px 10px 0px;
}

.buttonClass
{
	margin : 0px 10px 0px 0px
}

.shapeEditorComponents
{
	display : inline;
	margin : 10px 0px 0px 10px;
}

.comboBox
{
	width : 100px;
}

.quantityEditors
{
	width : 45px;
}

/* The notification message box */
.notification 
{
    padding: 5px;
    color: white;
    opacity: 0;
    transition: opacity 0.6s;
	text-align: center;
}

.success
{
	background-color: #4CAF50; /*Green*/
}

.failure
{
	background-color: #f44336; /*Red*/
}

.instruction{
    font-size: small ;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 0 20px;
    float: right ;
    color: white ;
    background-color: darkgray ;
    display: none;
}

.modify-polygon .instruction {
    display: inline-block ;
}